name: Parallel API Test Build

on:
  workflow_dispatch:
  pull_request:
    types: [opened, reopened, edited, synchronize]
  push:
    branches: [main]

jobs:
  Pets-Test:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.2.0
      - name: Cypress run
        uses: cypress-io/github-action@v6.6.1

      - name: Run Pet Tests
        run: npx cypress run --spec "cypress/e2e/pets/**/*.cy.js"

      - name: Upload Pets Report
        uses: actions/upload-artifact@v4
        with:
          name: pets-report
          path: reports/

  Store-Test:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.2.0

      - name: Cypress run
        uses: cypress-io/github-action@v6.6.1

      - name: Install dependencies
        run: npm ci

      - name: Run Store Tests
        run: npx cypress run --spec "cypress/e2e/store/**/*.cy.js"

      - name: Upload Store Report
        uses: actions/upload-artifact@v4
        with:
          name: store-report
          path: reports/

  Users-Test:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4.2.0

      - name: Cypress run
        uses: cypress-io/github-action@v6.6.1

      - name: Install dependencies
        run: npm ci

      - name: Run Users Tests
        run: npx cypress run --spec "cypress/e2e/users/**/*.cy.js"

      - name: Upload Users Report
        uses: actions/upload-artifact@v4
        with:
          name: users-report
          path: reports/
